.curriculum {
    padding: 50px 0 0 0;
    width: 75rem;
    margin: 0 auto;
}

.section__title {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 230%;
    border-bottom: 2px solid #000;
    margin: .85rem 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

.curriculum__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: .8rem 0;
    font-weight: bold;
}

.curriculum__summary p {
    line-height: 150%
}