include ./_includes/html.pug

.loading(ref="loading") Loading...

article.profile
  .block
    img.profile__photo(src="/files/avatar-dev.png", alt="Brian Walker Photo", ref='image')
    .profile__title.profile__title--name: span(ref='name') 
      | Name
    .profile__text.profile__text--job(ref='profession')
      | Job

  .block
    h1.profile__title: span Profile
    p.profile__text(ref="description")
      | Description

  .block
    h1.profile__title: span Contact
    p.profile__text(ref="tel")
      | Telephone
    p.profile__text.profile__text--division(ref="cel")
      | Celphone
    p.profile__text.profile__text--division(ref="address")
      | Address
    p.profile__text(ref="website")
      | Website
    p.profile__text(ref="mail")
      | Mail

  .block(ref="skills")
    h1.profile__title: span Skill

article.curriculum
  section.section(ref="experience")
    h1.section__title 
      | Work Experience

  section.section(ref="education")
    h1.section__title 
      | Education

script(src="./js/consummer.js")