include ./_includes/html.pug

article.profile
  .block
    img.profile__photo(src="/files/avatar-dev.png", alt="Brian Walker Photo")
    .profile__title.profile__title--name: span 
      | Brian Walker
    .profile__text.profile__text--job
      | Web Developer

  .block
    h1.profile__title: span Profile
    p.profile__text 
      | 27-yer old web developer
      | from Colorado Spring with
      | 5+ years of work experience
      | in various fields.

  .block
    h1.profile__title: span Contact
    p.profile__text 
      | 123-456-7890
    p.profile__text.profile__text--division
      | 012-345-6789
    p.profile__text.profile__text--division
      | 1490 General Woods.
      | Colorado Springs
    p.profile__text
      | brianwalker.co
    p.profile__text
      | mail@brianwalker.com

  .block
    h1.profile__title: span Skill
    .skill
      .skill__name Front End
      .skill__bar
        .skill__level(style="width: 80%")

    .skill
      .skill__name Back End
      .skill__bar
        .skill__level(style="width: 95%")

    .skill
      .skill__name Writing
      .skill__bar
        .skill__level(style="width: 85%")

article.curriculum
  section.section
    h1.section__title 
      | Work Experience
    .curriculum__block
      h2.curriculum__title
        | Front End Developer @ Hillsong
      .curriculum__period
        | January 2014 -
      .summary
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis similique sapiente mollitia! Commodi, nemo ducimus sunt laudantium, corrupti itaque assumenda possimus cum at ipsum necessitatibus maiores molestias debitis repudiandae!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis similique sapiente mollitia! Commodi, nemo ducimus sunt laudantium, corrupti itaque assumenda possimus cum at ipsum necessitatibus maiores molestias debitis repudiandae!

    .curriculum__block
      h2.curriculum__title
        | PHP End Developer @ Hillsong
      .curriculum__period
        | March 2012 - December 2013
      .summary
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis similique sapiente mollitia! Commodi, nemo ducimus sunt laudantium, corrupti itaque assumenda possimus cum at ipsum necessitatibus maiores molestias debitis repudiandae!

  section.section
    h1.section__title 
      | Education
    .curriculum__block
      h2.curriculum__title
        | Web Developer @ Harvard University
      .curriculum__period
        | August 2006 - May 2010
      .curriculum__summary
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis similique sapiente mollitia! Commodi, nemo ducimus sunt laudantium, corrupti itaque assumenda possimus cum at ipsum necessitatibus maiores molestias debitis repudiandae!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis similique sapiente mollitia! Commodi, nemo ducimus sunt laudantium, corrupti itaque assumenda possimus cum at ipsum necessitatibus maiores molestias debitis repudiandae!
